html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  max-width: 100%;
  min-height: 100%;
  background-color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
}

body._no-scroll {
  overflow: hidden;
}

*,
*::after,
*::before,
div,
p,
button,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 150%;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  margin: 0px auto;
  padding: 0px 40px;
  max-width: none;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title {
  font-weight: 600;
  line-height: calc(
			29px +
				83 *
				((100vw - 320px) / 1600)
		);
  margin-bottom: 10px;
  text-align: center;
  text-transform: capitalize;
}

.suptitle {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #3d82f2;
}

.suptitle-blog {
  color: #306ef7 !important;
}

.description {
  text-align: center;
  color: #707070;
}

.description-blog {
  color: #fff;
}

.btn {
  text-transform: capitalize;
  display: block;
  font-weight: 500;
  cursor: pointer;
  color: inherit;
  border-radius: 12px;
  text-decoration: none;
  padding: 16px 26px;
  -webkit-transition: border-color 0.3s ease-out, background-color 0.3s ease-out;
  -o-transition: border-color 0.3s ease-out, background-color 0.3s ease-out;
  transition: border-color 0.3s ease-out, background-color 0.3s ease-out;
}

.btn-blue {
  background-color: #326cf9;
  border: 1px solid #326cf9;
}

.btn-grey {
  background-color: #0e0e0e;
  color: #707070;
  border: 1px solid #707070;
}

.header {
  padding: 46px 0px;
  margin-bottom: calc(
			40px +
				40 *
				((100vw - 320px) / 1600)
		);
}

.header__container {
  padding: 0px 140px;
}

.header__logo {
  line-height: 151%;
  text-decoration: none;
  font-weight: 800;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.header__logo svg {
  width: calc(
			30px +
				16 *
				((100vw - 320px) / 1600)
		);
  padding-right: calc(
			10px +
				7 *
				((100vw - 320px) / 1600)
		);
}

.header__logo svg path {
  fill: #326cf9;
}

.header__burger {
  display: none;
}

.header__list,
.header__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  color: #707070;
  font-weight: 500;
  margin-right: calc(
			20px +
				20 *
				((100vw - 320px) / 1600)
		);
}

.header__link:last-child {
  margin-right: 0;
}

.header__link.active {
  color: #3c82f4;
}

.header__link a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.header__login,
.header__signup {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.header__login {
  color: #707070;
  margin-right: 24px;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.header__signup {
  color: #fff;
  background-color: #306ef7;
  padding: 12px 20px 13px 22px;
  border-radius: 10px;
  -webkit-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.home {
  margin-bottom: calc(
			55px +
				133 *
				((100vw - 320px) / 1600)
		);
}

.home__header {
  margin-bottom: calc(
			25px +
				105 *
				((100vw - 320px) / 1600)
		);
  padding: 30px 200px 0px;
}

.home__title {
  line-height: calc(
			28px +
				140 *
				((100vw - 320px) / 1600)
		);
  font-weight: 700;
  text-align: center;
}

.home__title.has-gradient {
  color: transparent;
  background: -webkit-gradient(linear, left top, right top, color-stop(1.9%, #fe6783), color-stop(97.1%, #ffbf84));
  background: -o-linear-gradient(left, #fe6783 1.9%, #ffbf84 97.1%);
  background: linear-gradient(90deg, #fe6783 1.9%, #ffbf84 97.1%);
  background-clip: text;
  -webkit-background-clip: text;
}

.home-start {
  padding: 0px 300px;
  text-align: center;
}

.home-start__title {
  margin-bottom: calc(
			20px +
				30 *
				((100vw - 320px) / 1600)
		);
}

.home-start__buttons {
  margin-bottom: calc(
			7px +
				14 *
				((100vw - 320px) / 1600)
		);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-start__get-started,
.home-start__view-demo {
  padding: 20px 82px;
}

.home-start__view-demo {
  background-color: transparent;
  margin-left: 26px;
  -webkit-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.home-start__already-started {
  color: #707070;
  position: relative;
}

.home-start__already-started span {
  color: #fff;
  margin-right: calc(
			2px +
				7 *
				((100vw - 320px) / 1600)
		);
  font-weight: 700;
}

.home-start__already-started i {
  display: inline-block;
  margin-right: 10px;
  width: calc(
			17px +
				11 *
				((100vw - 320px) / 1600)
		);
  height: calc(
			17px +
				11 *
				((100vw - 320px) / 1600)
		);
  background-color: rgba(15, 198, 92, 0.24);
  border-radius: 50%;
  position: relative;
}

.home-start__already-started i::after {
  content: "";
  display: block;
  position: absolute;
  top: 17%;
  left: 17%;
  width: calc(
			9px +
				8 *
				((100vw - 320px) / 1600)
		);
  height: calc(
			9px +
				8 *
				((100vw - 320px) / 1600)
		);
  border-radius: 50%;
  background-color: #0fc65c;
}

.why {
  margin-bottom: calc(
			47px +
				141 *
				((100vw - 320px) / 1600)
		);
}

.why__container {
  padding: 0px 220px;
}

.why__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: calc(
			35px +
				65 *
				((100vw - 320px) / 1600)
		);
}

.why__title {
  margin-bottom: calc(
			35px +
				29 *
				((100vw - 320px) / 1600)
		);
}

.why-quality__title {
  font-weight: 600;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why-quality__title svg {
  margin-right: 8px;
  width: calc(
			30px +
				7 *
				((100vw - 320px) / 1600)
		);
  height: calc(
			30px +
				7 *
				((100vw - 320px) / 1600)
		);
}

.why-quality__description {
  color: #707070;
}

.step {
  margin-bottom: calc(
			55px +
				133 *
				((100vw - 320px) / 1600)
		);
}

.step__container {
  padding: 0px 320px;
}

.step__description {
  margin-bottom: calc(
			22px +
				12 *
				((100vw - 320px) / 1600)
		);
}

.step__link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.step__sources {
  display: inline-block;
  background-color: transparent;
  font-weight: 700;
  -webkit-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  padding: 22px 35px;
}

.share {
  margin-bottom: calc(
			55px +
				133 *
				((100vw - 320px) / 1600)
		);
}

.share__container {
  padding: 0px 95px;
}

.share__row {
  gap: 23px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.share-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 33px 0px 80px 45px;
  padding-right: calc(
			50px +
				120 *
				((100vw - 320px) / 1600)
		);
  background-color: #0d0d0d;
}

.share-item.has-phone {
  padding: 33px 0px 0px 45px;
}

.share-item__header {
  width: 100%;
}

.share-item__suptitle {
  color: #0fc65c;
  margin-bottom: calc(
			12px +
				12 *
				((100vw - 320px) / 1600)
		);
}

.share-item__title {
  font-weight: 600;
  color: #fff;
  margin-bottom: 14px;
}

.share-item__title span {
  color: #919191;
}

.app-review {
  padding-left: calc(
			20px +
				160 *
				((100vw - 320px) / 1600)
		);
  margin-bottom: calc(
			55px +
				16 *
				((100vw - 320px) / 1600)
		);
}

.app-review__row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-review__content {
  padding-right: 228px;
}

.app-review__suptitle {
  margin-bottom: calc(
			23px +
				57 *
				((100vw - 320px) / 1600)
		);
  text-transform: capitalize;
}

.app-review__title {
  text-align: left;
  margin-bottom: 27px;
}

.app-review__title span {
  color: #3c82f4;
}

.app-review__features {
  counter-reset: feature;
  margin-bottom: calc(
			36px +
				30 *
				((100vw - 320px) / 1600)
		);
}

.app-review__feature {
  margin-bottom: calc(
			6px +
				6 *
				((100vw - 320px) / 1600)
		);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-review__feature:last-child {
  margin-bottom: 0;
}

.app-review__feature::before {
  content: counter(feature);
  counter-increment: feature;
  margin-right: 12px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 14px;
  background-color: #2d2d2d;
  border-radius: 50%;
}

.app-review__buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-review__get-started {
  margin-right: calc(
			12px +
				12 *
				((100vw - 320px) / 1600)
		);
}

.monitor {
  position: relative;
  width: 65%;
  height: calc(
			430px +
				285 *
				((100vw - 320px) / 1600)
		);
  position: relative;
}

.monitor__screen {
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
  background-color: #0e0e0e;
  z-index: 1;
  position: relative;
  -webkit-box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.4);
}

.monitor__screen.large-shadow {
  -webkit-box-shadow: 0px 30px 50px 0px rgba(100, 100, 100, 0.4980392157);
          box-shadow: 0px 30px 50px 0px rgba(100, 100, 100, 0.4980392157);
}

.monitor__screen img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.monitor__leg {
  position: absolute;
  width: 35%;
  height: 100%;
  background-color: #8b8b8b;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 0;
}

.agree {
  margin-bottom: calc(
			55px +
				133 *
				((100vw - 320px) / 1600)
		);
}

.agree__container {
  padding: 0px 47px;
}

.agree__title {
  margin-bottom: 52px;
}

.no-webp .agree__tweets {
  background-image: url("../img/tweets.png"); }

.agree__tweets {
  width: 100%;
  height: calc(
			200px +
				241 *
				((100vw - 320px) / 1600)
		);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.no-webp .fact {
  background-image: url("../img/people-bg.png"); }

.fact {
  padding: 288px 0px;
  margin-bottom: calc(
			55px +
				133 *
				((100vw - 320px) / 1600)
		);
}

.fact__container {
  padding: 0px 342px;
}

.fact__title {
  text-align: center;
  font-weight: 600;
}

.setup {
  margin-bottom: calc(
			55px +
				133 *
				((100vw - 320px) / 1600)
		);
}

.setup__container {
  padding: 0px 300px;
  text-align: center;
}

.setup__logo {
  margin-bottom: 21px;
}

.setup__logo svg {
  width: calc(
			127px +
				37 *
				((100vw - 320px) / 1600)
		);
  height: calc(
			119px +
				35 *
				((100vw - 320px) / 1600)
		);
}

.setup__title {
  line-height: calc(
			40px +
				110 *
				((100vw - 320px) / 1600)
		);
  font-weight: 700;
  margin-bottom: 10px;
}

.setup__description {
  margin-bottom: 15px;
}

.setup__btn-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.setup__get-started {
  padding: 19px 50px;
  margin-bottom: calc(
			8px +
				18 *
				((100vw - 320px) / 1600)
		);
}

.setup__already-started {
  color: #707070;
  position: relative;
}

.setup__already-started span {
  color: #fff;
  margin-right: calc(
			2px +
				7 *
				((100vw - 320px) / 1600)
		);
  font-weight: 700;
}

.setup__already-started i {
  display: inline-block;
  margin-right: 10px;
  width: calc(
			17px +
				11 *
				((100vw - 320px) / 1600)
		);
  height: calc(
			17px +
				11 *
				((100vw - 320px) / 1600)
		);
  background-color: rgba(15, 198, 92, 0.24);
  border-radius: 50%;
  position: relative;
}

.setup__already-started i::after {
  content: "";
  display: block;
  position: absolute;
  top: 17%;
  left: 17%;
  width: calc(
			9px +
				8 *
				((100vw - 320px) / 1600)
		);
  height: calc(
			9px +
				8 *
				((100vw - 320px) / 1600)
		);
  border-radius: 50%;
  background-color: #0fc65c;
}

.footer {
  padding: 80px 0px;
}

.footer__container {
  padding: 0px 140px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__logo {
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo svg {
  margin-right: calc(
			10px +
				14 *
				((100vw - 320px) / 1600)
		);
  width: calc(
			35px +
				11 *
				((100vw - 320px) / 1600)
		);
}

.footer__logo svg path {
  fill: #326cf9;
}

.footer__email {
  color: #707070;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link {
  color: #707070;
  font-weight: 500;
  margin-right: calc(
			20px +
				26 *
				((100vw - 320px) / 1600)
		);
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__link.active {
  color: #326df9;
}

.footer__link a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.about {
  margin-bottom: calc(
			55px +
				133 *
				((100vw - 320px) / 1600)
		);
  padding-bottom: 56px;
  border-bottom: 1.5px solid #828282;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.about__container {
  padding: 0px 70px;
}

.about__header {
  margin-bottom: calc(
			45px +
				141 *
				((100vw - 320px) / 1600)
		);
}

.about__logo {
  margin-bottom: calc(
			14px +
				34 *
				((100vw - 320px) / 1600)
		);
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__logo svg {
  margin-right: 24px;
  width: calc(
			64px +
				12 *
				((100vw - 320px) / 1600)
		);
  width: calc(
			58px +
				13 *
				((100vw - 320px) / 1600)
		);
}

.about__suptitle {
  margin-bottom: 10px;
}

.about__description {
  color: #fff;
}

.about__paragraph,
.about__author {
  font-size: 28px;
}

.about__paragraph {
  margin-bottom: calc(
			12px +
				18 *
				((100vw - 320px) / 1600)
		);
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__author {
  margin-top: calc(
			28px +
				26 *
				((100vw - 320px) / 1600)
		);
  font-weight: 600;
}

.team {
  margin-bottom: calc(
			55px +
				133 *
				((100vw - 320px) / 1600)
		);
}

.team__container {
  padding: 0px 320px;
}

.team__header {
  margin-bottom: 60px;
}

.team__suptitle {
  margin-bottom: 5px;
}

.team__row {
  gap: calc(
			60px +
				140 *
				((100vw - 320px) / 1600)
		);
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.creator-team {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.creator-team__avatar {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  margin-bottom: 17px;
  margin-right: auto;
  margin-left: auto;
  background-color: #707070;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.no-webp .creator-team__avatar-1 {
  background-image: url("../img/team/creator1.png"); }

.no-webp .creator-team__avatar-2 {
  background-image: url("../img/team/creator2.png"); }

.no-webp .creator-team__avatar-3 {
  background-image: url("../img/team/creator3.png"); }

.creator-team__name {
  font-weight: 700;
  margin-bottom: 5px;
}

.creator-team__speciality {
  color: #7f7f7f;
  margin-bottom: calc(
			15px +
				6 *
				((100vw - 320px) / 1600)
		);
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.creator-team__social-link {
  font-size: 20px;
  font-weight: 500;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.creator-team__social-link svg {
  color: #326cf9;
  margin-left: 8px;
}

.sources {
  margin-bottom: calc(
			55px +
				133 *
				((100vw - 320px) / 1600)
		);
}

.sources__container {
  padding: 0px 270px;
}

.sources__header {
  margin-bottom: calc(
			50px +
				80 *
				((100vw - 320px) / 1600)
		);
}

.sources__title {
  margin-bottom: 5px;
  line-height: calc(
			41px +
				119 *
				((100vw - 320px) / 1600)
		);
}

.sources__description {
  color: #fff;
}

.sources__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[4];
  grid-template-rows: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: calc(
			15px +
				9 *
				((100vw - 320px) / 1600)
		);
}

.source-item {
  border: 1px solid #707070;
  border-radius: 10px;
  padding: 36px 15px 17px 33px;
  position: relative;
}

.source-item__comming-soon {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #4a7de3;
  background-color: #102142;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 16px;
  padding: 9px 17px;
}

.source-item__social-icon {
  margin-bottom: calc(
			10px +
				7 *
				((100vw - 320px) / 1600)
		);
}

.source-item__title {
  margin-bottom: 10px;
  font-weight: 600;
}

.source-item__description {
  color: #828282;
}

.pricing {
  margin-bottom: calc(
			55px +
				133 *
				((100vw - 320px) / 1600)
		);
}

.pricing__container {
  padding: 0px 140px;
}

.pricing__title {
  margin-bottom: calc(
			55px +
				68 *
				((100vw - 320px) / 1600)
		);
}

.pricing__row {
  gap: calc(
			23px +
				56 *
				((100vw - 320px) / 1600)
		);
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.pricing-item {
  background-color: #131313;
  border: 1px solid #707070;
  border-radius: 15px;
  padding: 35px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pricing-item-blue {
  background-color: #3c82f4;
  border-color: #3c82f4;
}

.pricing-item-blue .pricing-item__description,
.pricing-item-blue .pricing-item__price,
.pricing-item-blue .pricing-item__more-emails {
  color: #fff;
}

.pricing-item-blue .pricing-item__price-if-billed {
  text-decoration: none;
}

.pricing-item__title {
  margin-bottom: 2px;
  font-weight: 600;
}

.pricing-item__description {
  margin-bottom: 14px;
  color: #b4b1b1;
}

.pricing-item__price {
  font-size: 26px;
  color: #b4b1b1;
  margin-bottom: calc(
			32px +
				76 *
				((100vw - 320px) / 1600)
		);
}

.pricing-item__price.has-billed-price {
  margin-bottom: calc(
			43px +
				24 *
				((100vw - 320px) / 1600)
		);
}

.pricing-item__price span {
  font-size: 69px;
  font-weight: 700;
  color: #fff;
}

.pricing-item__price-if-billed {
  text-decoration: underline;
}

.pricing-item__included-list {
  margin-bottom: calc(
			25px +
				20 *
				((100vw - 320px) / 1600)
		);
}

.pricing-item__included {
  font-size: 28px;
  line-height: 125%;
  margin-bottom: 20px;
}

.pricing-item__included:last-child {
  margin-bottom: 0;
}

.pricing-item__included span {
  font-weight: 700;
  font-size: 26px;
}

.pricing-item__more-emails {
  color: #b4b1b1;
  font-size: 24px;
  margin-bottom: calc(
			28px +
				25 *
				((100vw - 320px) / 1600)
		);
}

.pricing-item__features-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 28px;
}

.pricing-item__features {
  margin-bottom: 79px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.pricing-item__feature {
  margin-bottom: 20px;
  font-size: 24px;
}

.pricing-item__feature:last-child {
  margin-bottom: 0;
}

.pricing-item__feature svg {
  margin-right: 10px;
  width: calc(
			30px +
				-5 *
				((100vw - 320px) / 1600)
		);
}

.pricing-item__start-btn {
  color: inherit;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  border: 3.5px solid #4681e7;
  padding: 24px 44px;
  text-transform: capitalize;
  display: block;
  line-height: 110%;
  font-weight: 500;
  border-radius: 23px;
  -webkit-transition: background-color 0.4s ease, color 0.4s ease;
  -o-transition: background-color 0.4s ease, color 0.4s ease;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.pricing-item__start-btn-white {
  color: #3c82f4;
  background-color: #fff;
  border-color: #fff;
}

.signup,
.login {
  margin-bottom: calc(
			55px +
				133 *
				((100vw - 320px) / 1600)
		);
}

.signup__container,
.login__container {
  padding: 0px 270px;
}

.signup__header,
.login__header {
  margin-bottom: calc(
			50px +
				27 *
				((100vw - 320px) / 1600)
		);
  text-align: center;
}

.signup__form,
.login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: calc(
			30px +
				50 *
				((100vw - 320px) / 1600)
		);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup__input-wrapper,
.signup__btn,
.login__input-wrapper,
.login__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 42%;
          flex: 0 1 42%;
}

.signup__input-wrapper,
.login__input-wrapper {
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}

.signup__input-wrapper svg,
.login__input-wrapper svg {
  position: absolute;
  display: block;
  top: 0;
  right: 18px;
  text-align: center;
  pointer-events: none;
  opacity: 0.5;
}

.signup__input,
.login__input {
  width: calc(100% - 56px);
  background-color: transparent;
  border: 0;
  outline: none;
  color: #fff;
  padding: 0px 0px 15px 0px;
}

.signup__input.placeholder,
.login__input.placeholder {
  color: inherit;
  font-family: "Poppins", sans-serif;
}

.signup__input:-moz-placeholder,
.login__input:-moz-placeholder {
  color: inherit;
  font-family: "Poppins", sans-serif;
}

.signup__input::-moz-placeholder,
.login__input::-moz-placeholder {
  color: inherit;
  font-family: "Poppins", sans-serif;
}

.signup__input:-ms-input-placeholder,
.login__input:-ms-input-placeholder {
  color: inherit;
  font-family: "Poppins", sans-serif;
}

.signup__input::-webkit-input-placeholder,
.login__input::-webkit-input-placeholder {
  color: inherit;
  font-family: "Poppins", sans-serif;
}

.login__btn {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: 0px auto;
}

.or-social {
  text-align: center;
  margin-bottom: 74px;
}

.or-social a {
  text-decoration: none;
  color: inherit;
}

.or-social__container {
  padding: 0px 170px;
}

.or-social__header {
  margin-bottom: 46px;
}

.or-social__title {
  font-weight: 600;
}

.or-social__row {
  gap: calc(
			25px +
				53 *
				((100vw - 320px) / 1600)
		);
  margin-bottom: calc(
			36px +
				33 *
				((100vw - 320px) / 1600)
		);
}

.or-social__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding-left: calc(
			12px +
				18 *
				((100vw - 320px) / 1600)
		);
  padding-right: calc(
			12px +
				18 *
				((100vw - 320px) / 1600)
		);
  padding-top: 23px;
  padding-bottom: 23px;
  border: 2px solid #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.or-social__btn svg {
  margin-right: 20px;
}

.or-social__has-account {
  font-weight: 500;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

@media (min-width: 767px) {
  .title {
    font-size: calc(
			28px + 47 * (100vw / 1920)
		);
  }

  .suptitle {
    font-size: calc(
			16px + 9 * (100vw / 1920)
		);
  }

  .description {
    font-size: calc(
			13px + 17 * (100vw / 1920)
		);
  }

  .btn {
    font-size: calc(
			14px + 6 * (100vw / 1920)
		);
  }

  .header__logo {
    font-size: calc(
			18px + 19 * (100vw / 1920)
		);
  }

  .header__link {
    font-size: calc(
			12px + 8 * (100vw / 1920)
		);
  }

  .home__title {
    font-size: calc(
			24px + 88 * (100vw / 1920)
		);
  }

  .home-start__title {
    font-size: calc(
			16px + 24 * (100vw / 1920)
		);
  }

  .home-start__already-started {
    font-size: calc(
			13px + 12 * (100vw / 1920)
		);
  }

  .why-quality__title {
    font-size: calc(
			18px + 17 * (100vw / 1920)
		);
  }

  .why-quality__description {
    font-size: calc(
			14px + 8 * (100vw / 1920)
		);
  }

  .share-item__suptitle {
    font-size: calc(
			20px + 10 * (100vw / 1920)
		);
  }

  .share-item__title {
    font-size: calc(
			42px + 38 * (100vw / 1920)
		);
  }

  .app-review__suptitle {
    font-size: calc(
			16px + 14 * (100vw / 1920)
		);
  }

  .app-review__feature {
    font-size: calc(
			13px + 10 * (100vw / 1920)
		);
  }

  .fact__title {
    font-size: calc(
			22px + 48 * (100vw / 1920)
		);
  }

  .setup__title {
    font-size: calc(
			38px + 62 * (100vw / 1920)
		);
  }

  .setup__description {
    font-size: calc(
			18px + 25 * (100vw / 1920)
		);
  }

  .setup__already-started {
    font-size: calc(
			13px + 12 * (100vw / 1920)
		);
  }

  .footer__logo {
    font-size: calc(
			28px + 14 * (100vw / 1920)
		);
  }

  .footer__email {
    font-size: calc(
			17px + 10 * (100vw / 1920)
		);
  }

  .footer__link {
    font-size: calc(
			14px + 14 * (100vw / 1920)
		);
  }

  .about__logo {
    font-size: calc(
			36px + 26 * (100vw / 1920)
		);
  }

  .creator-team__name {
    font-size: calc(
			25px + 10 * (100vw / 1920)
		);
  }

  .creator-team__speciality {
    font-size: calc(
			16px + 3 * (100vw / 1920)
		);
  }

  .sources__title {
    font-size: calc(
			46px + 74 * (100vw / 1920)
		);
  }

  .source-item__title {
    font-size: calc(
			23px + 7 * (100vw / 1920)
		);
  }

  .source-item__description {
    font-size: calc(
			15px + 8 * (100vw / 1920)
		);
  }

  .pricing-item__title {
    font-size: calc(
			32px + 18 * (100vw / 1920)
		);
  }

  .pricing-item__description {
    font-size: calc(
			14px + 14 * (100vw / 1920)
		);
  }

  .pricing-item__start-btn {
    font-size: calc(
			14px + 13 * (100vw / 1920)
		);
  }

  .signup__desc,
  .login__desc {
    font-size: calc(
			18px + 6 * (100vw / 1920)
		);
  }

  .signup__input,
  .login__input {
    font-size: calc(
			17px + 6 * (100vw / 1920)
		);
  }

  .signup__btn,
  .login__btn {
    font-size: calc(
			18px + 8 * (100vw / 1920)
		);
  }

  .or-social__title {
    font-size: calc(
			40px + 14 * (100vw / 1920)
		);
  }

  .or-social__desc {
    font-size: calc(
			16px + 8 * (100vw / 1920)
		);
  }

  .or-social__btn {
    font-size: calc(
			14px + 7 * (100vw / 1920)
		);
  }

  .or-social__has-account {
    font-size: calc(
			12px + 4 * (100vw / 1920)
		);
  }
}

@media (max-width: 1440px) {
  .header__container {
    padding: 0px 110px;
  }

  .header__login,
  .header__signup {
    font-size: 16px;
  }

  .header__signup {
    padding: 10px 18px;
  }

  .home__header {
    padding: 15px 110px 0px;
  }

  .home-start {
    padding: 0px 225px;
  }

  .why__container {
    padding: 0px 110px;
  }

  .step__container {
    padding: 0px 270px;
  }

  .share__container {
    padding: 0px 60px;
  }

  .share-item {
    padding: 33px 90px 0px 45px;
  }

  .share-item.has-phone {
    padding: 33px 90px 70px 45px;
  }

  .app-review__content {
    padding-right: 120px;
  }

  .agree__container {
    padding: 0px 22px;
  }

  .fact {
    padding: 190px 0px;
  }

  .fact__container {
    padding: 0px 200px;
  }

  .setup__container {
    padding: 0px 225px;
  }

  .footer {
    padding: 50px 0px;
  }

  .about__paragraph,
  .about__author {
    font-size: 20px;
  }

  .team__container {
    padding: 0px 270px;
  }

  .sources__container {
    padding: 0px 230px;
  }

  .source-item__comming-soon {
    font-size: 13px;
    padding: 6px 9px;
  }

  .pricing__container {
    padding: 0px 70px;
  }

  .pricing-item {
    padding: 26px;
  }

  .pricing-item__price {
    font-size: 22px;
  }

  .pricing-item__price span {
    font-size: 54px;
  }

  .pricing-item__included {
    font-size: 22px;
  }

  .pricing-item__included span {
    font-size: 21px;
  }

  .pricing-item__more-emails {
    font-size: 17px;
  }

  .pricing-item__features-title {
    font-size: 24px;
  }

  .pricing-item__feature {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .pricing-item__start-btn {
    padding: 21px 18px;
    border-width: 2px;
  }

  .signup__container,
  .login__container {
    padding: 0px 230px;
  }

  .or-social__container {
    padding: 0px 99px;
  }
}

@media (max-width: 1248px) {
  .home-start__get-started,
  .home-start__view-demo {
    padding: 18px 60px;
  }

  .why__container {
    padding: 0px 90px;
  }

  .step__container {
    padding: 0px 200px;
  }

  .share__container {
    padding: 0px 45px;
  }

  .share-item {
    padding: 33px 60px 55px 45px;
  }

  .share-item.has-phone {
    padding: 33px 60px 0px 45px;
  }

  .app-review__content {
    padding-right: 85px;
  }

  .footer__container {
    padding: 0px 90px;
  }

  .team__container {
    padding: 0px 200px;
  }

  .sources__container {
    padding: 0px 145px;
  }

  .source-item {
    padding: 24px 14px 17px 22px;
  }

  .source-item__comming-soon {
    font-size: 12px;
    padding: 6px 8px;
    top: 7px;
    right: 7px;
  }

  .pricing__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .pricing-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 65%;
            flex: 0 1 65%;
    margin: 0px auto;
    text-align: center;
  }

  .pricing-item__features {
    margin: 0px auto 47px auto;
  }

  .signup__container,
  .login__container {
    padding: 0px 145px;
  }

  .or-social__container {
    padding: 0px 36px;
  }

  .or-social__btn {
    padding: 20px 13px;
  }
}

@media (max-width: 1024px) {
  .header__container {
    padding: 0px 70px;
  }

  .header__burger {
    z-index: 5;
    display: block;
    position: relative;
    height: 22px;
    width: 32px;
    cursor: pointer;
  }

  .header__burger span,
  .header__burger::before,
  .header__burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-color: #fff;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    top: 50%;
    -webkit-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
  }

  .header__burger._active span,
  .header__burger._active::before,
  .header__burger._active::after {
    background-color: #fff;
  }

  .header__burger._active span {
    -webkit-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
            transform: translateY(-50%) scale(0);
  }

  .header__burger._active::before {
    top: 50%;
    -webkit-transform: rotate(45deg) translateY(-50%);
        -ms-transform: rotate(45deg) translateY(-50%);
            transform: rotate(45deg) translateY(-50%);
  }

  .header__burger._active::after {
    bottom: 50%;
    -webkit-transform: rotate(-45deg) translateY(50%);
        -ms-transform: rotate(-45deg) translateY(50%);
            transform: rotate(-45deg) translateY(50%);
  }

  .header__nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 35%;
    height: 100%;
    overflow: auto;
    z-index: 4;
    -webkit-transition: left 0.4s ease;
    -o-transition: left 0.4s ease;
    transition: left 0.4s ease;
    background-color: #0e0e0e;
    opacity: 0.99;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .header__nav._active {
    left: 0;
  }

  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 120px 10px 10px 30px;
  }

  .header__link {
    margin: 0px 0px 15px 0px;
    font-size: 22px;
  }

  .home__header {
    padding: 15px 70px 0px;
  }

  .home-start {
    padding: 0px 130px;
  }

  .home-start__get-started,
  .home-start__view-demo {
    padding: 18px 52px;
  }

  .home-start__view-demo {
    margin-left: 18px;
  }

  .why__row {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .step__container {
    padding: 0px 155px;
  }

  .share__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .share-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 57px 20px 40px 45px;
  }

  .share-item.has-phone {
    padding: 57px 20px 0px 45px;
  }

  .share-item__title br {
    display: none;
  }

  .app-review {
    padding: 0px 30px;
  }

  .app-review__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .app-review__content {
    padding: 50px 0px 0px 0px;
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .app-review__title br {
    display: none;
  }

  .app-review__features {
    text-align: left;
  }

  .monitor {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 80%;
  }

  .fact {
    padding: 125px 0px;
  }

  .fact__container {
    padding: 0px 95px;
  }

  .setup__container {
    padding: 0px 130px;
  }

  .footer {
    padding: 30px 0px;
  }

  .about__paragraph,
  .about__author {
    font-size: 16px;
  }

  .team__container {
    padding: 0px 155px;
  }

  .sources__container {
    padding: 0px 120px;
  }

  .sources__grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .signup__container,
  .login__container {
    padding: 0px 120px;
  }

  .or-social__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 35px;
  }

  .or-social__btn {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 25px 0px;
  }

  .header__container {
    padding: 0px 45px;
  }

  .header__nav {
    width: 100%;
  }

  .header__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 80px 0px 10px 0px;
  }

  .header__link {
    font-size: 26px !important;
  }

  .header__login,
  .header__signup {
    font-size: 14px;
  }

  .header__login {
    margin-right: 18px;
  }

  .header__signup {
    padding: 6px 14px;
  }

  .home-start__get-started,
  .home-start__view-demo {
    padding: 16px 34px;
  }

  .home-start__view-demo {
    margin-left: 15px;
  }

  .why__container {
    padding: 0px 60px;
  }

  .step__container {
    padding: 0px 100px;
  }

  .step__sources {
    padding: 18px 22px;
  }

  .app-review__feature::before {
    padding: 3px 12px;
  }

  .agree {
    display: none;
  }

  .fact {
    padding: 70px 0px;
  }

  .fact__container {
    padding: 0px 25px;
  }

  .footer__container {
    padding: 0px 45px;
  }

  .about {
    width: 85%;
  }

  .about__container {
    padding: 0px 45px;
  }

  .about__paragraph,
  .about__author {
    font-size: 14px;
  }

  .team__container {
    padding: 0px 100px;
  }

  .team__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .creator-team {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
  }

  .sources__container {
    padding: 0px 80px;
  }

  .pricing__container {
    padding: 0px 45px;
  }

  .signup__container,
  .login__container {
    padding: 0px 80px;
  }

  .signup__form,
  .login__form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .signup__input-wrapper,
  .signup__btn,
  .login__input-wrapper,
  .login__btn {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }

  .or-social__container {
    padding: 0px 60px;
  }

  .or-social__row {
    gap: 23px;
  }

  .or-social__btn {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: calc(
			28px + 79.9 *
				((100vw - 320px) / 1920)
		);
  }

  .suptitle {
    font-size: calc(
			16px + 15.3 *
				((100vw - 320px) / 1920)
		);
  }

  .description {
    font-size: calc(
			13px + 28.9 *
				((100vw - 320px) / 1920)
		);
  }

  .btn {
    font-size: calc(
			14px + 10.2 *
				((100vw - 320px) / 1920)
		);
  }

  .header__logo {
    font-size: calc(
			18px + 32.3 *
				((100vw - 320px) / 1920)
		);
  }

  .header__link {
    font-size: calc(
			12px + 13.6 *
				((100vw - 320px) / 1920)
		);
  }

  .home__title {
    font-size: calc(
			24px + 149.6 *
				((100vw - 320px) / 1920)
		);
  }

  .home-start__title {
    font-size: calc(
			16px + 40.8 *
				((100vw - 320px) / 1920)
		);
  }

  .home-start__already-started {
    font-size: calc(
			13px + 20.4 *
				((100vw - 320px) / 1920)
		);
  }

  .why-quality__title {
    font-size: calc(
			18px + 28.9 *
				((100vw - 320px) / 1920)
		);
  }

  .why-quality__description {
    font-size: calc(
			14px + 13.6 *
				((100vw - 320px) / 1920)
		);
  }

  .share-item__suptitle {
    font-size: calc(
			20px + 17 *
				((100vw - 320px) / 1920)
		);
  }

  .share-item__title {
    font-size: calc(
			42px + 64.6 *
				((100vw - 320px) / 1920)
		);
  }

  .app-review__suptitle {
    font-size: calc(
			16px + 23.8 *
				((100vw - 320px) / 1920)
		);
  }

  .app-review__feature {
    font-size: calc(
			13px + 17 *
				((100vw - 320px) / 1920)
		);
  }

  .fact__title {
    font-size: calc(
			22px + 81.6 *
				((100vw - 320px) / 1920)
		);
  }

  .setup__title {
    font-size: calc(
			38px + 105.4 *
				((100vw - 320px) / 1920)
		);
  }

  .setup__description {
    font-size: calc(
			18px + 42.5 *
				((100vw - 320px) / 1920)
		);
  }

  .setup__already-started {
    font-size: calc(
			13px + 20.4 *
				((100vw - 320px) / 1920)
		);
  }

  .footer__logo {
    font-size: calc(
			28px + 23.8 *
				((100vw - 320px) / 1920)
		);
  }

  .footer__email {
    font-size: calc(
			17px + 17 *
				((100vw - 320px) / 1920)
		);
  }

  .footer__link {
    font-size: calc(
			14px + 23.8 *
				((100vw - 320px) / 1920)
		);
  }

  .about__logo {
    font-size: calc(
			36px + 44.2 *
				((100vw - 320px) / 1920)
		);
  }

  .creator-team__name {
    font-size: calc(
			25px + 17 *
				((100vw - 320px) / 1920)
		);
  }

  .creator-team__speciality {
    font-size: calc(
			16px + 5.1 *
				((100vw - 320px) / 1920)
		);
  }

  .sources__title {
    font-size: calc(
			46px + 125.8 *
				((100vw - 320px) / 1920)
		);
  }

  .source-item__title {
    font-size: calc(
			23px + 11.9 *
				((100vw - 320px) / 1920)
		);
  }

  .source-item__description {
    font-size: calc(
			15px + 13.6 *
				((100vw - 320px) / 1920)
		);
  }

  .pricing-item__title {
    font-size: calc(
			32px + 30.6 *
				((100vw - 320px) / 1920)
		);
  }

  .pricing-item__description {
    font-size: calc(
			14px + 23.8 *
				((100vw - 320px) / 1920)
		);
  }

  .pricing-item__start-btn {
    font-size: calc(
			14px + 22.1 *
				((100vw - 320px) / 1920)
		);
  }

  .signup__desc,
  .login__desc {
    font-size: calc(
			18px + 10.2 *
				((100vw - 320px) / 1920)
		);
  }

  .signup__input,
  .login__input {
    font-size: calc(
			17px + 10.2 *
				((100vw - 320px) / 1920)
		);
  }

  .signup__btn,
  .login__btn {
    font-size: calc(
			18px + 13.6 *
				((100vw - 320px) / 1920)
		);
  }

  .or-social__title {
    font-size: calc(
			40px + 23.8 *
				((100vw - 320px) / 1920)
		);
  }

  .or-social__desc {
    font-size: calc(
			16px + 13.6 *
				((100vw - 320px) / 1920)
		);
  }

  .or-social__btn {
    font-size: calc(
			14px + 11.9 *
				((100vw - 320px) / 1920)
		);
  }

  .or-social__has-account {
    font-size: calc(
			12px + 6.8 *
				((100vw - 320px) / 1920)
		);
  }
}

@media (max-width: 640px) {
  .home__header {
    padding: 15px 25px 0px;
  }

  .home-start {
    padding: 0px 80px;
  }

  .why__row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .monitor {
    width: 90%;
    height: 400px;
  }

  .setup__container {
    padding: 0px 80px;
  }

  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__info,
  .footer__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .footer__info {
    margin-bottom: 10px;
  }

  .source-item__comming-soon {
    padding: 7px 11px;
  }

  .source-item__comming-soon i {
    display: none;
  }

  .pricing-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 18px;
  }

  .pricing-item__feature {
    text-align: left;
  }

  .or-social__btn {
    border-width: 1px;
  }
}

@media (max-width: 560px) {
  .header__container {
    padding: 0px 20px;
  }

  .header__logo svg {
    padding-right: 0;
  }

  .header__logo span {
    display: none;
  }

  .home-start__buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .home-start__get-started,
  .home-start__view-demo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 15px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .home-start__get-started:last-child,
  .home-start__view-demo:last-child {
    margin-bottom: 0;
  }

  .home-start__view-demo {
    margin-left: 0;
  }

  .step__container {
    padding: 0px 40px;
  }

  .team__container {
    padding: 0px 40px;
  }

  .sources__container {
    padding: 0px 30px;
  }

  .signup__container,
  .login__container {
    padding: 0px 30px;
  }
}

@media (max-width: 480px) {
  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header__burger {
    height: 20px;
    width: 28px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .header__account {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .home-start {
    padding: 0px 30px;
  }

  .app-review {
    padding: 0px 20px;
  }

  .monitor {
    width: 100%;
    height: 320px;
  }

  .setup__container {
    padding: 0px 30px;
  }

  .about__container {
    padding: 0px 20px;
  }

  .pricing-item__price {
    font-size: 19px;
  }

  .pricing-item__price span {
    font-size: 42px;
  }

  .pricing-item__feature {
    font-size: 14px;
  }

  .pricing-item__start-btn {
    padding: 19px 14px;
  }
}

@media (max-width: 400px) {
  .why__container {
    padding: 0px 25px;
  }

  .app-review__buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .app-review__get-started,
  .app-review__view-demo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    width: 100%;
    margin: 0px 0px 16px 0px;
  }

  .app-review__get-started:last-child,
  .app-review__view-demo:last-child {
    margin: 0;
  }

  .footer__container {
    padding: 0px 20px;
  }

  .about__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about__logo svg {
    margin: 0px 0px 5px 0px;
  }

  .sources__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .source-item__comming-soon {
    padding: 8px 12px;
    top: 10px;
    right: 10px;
  }

  .source-item__comming-soon i {
    display: inline;
  }

  .pricing-item {
    text-align: left;
  }

  .signup__input-wrapper,
  .signup__btn,
  .login__input-wrapper,
  .login__btn {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .or-social__container {
    padding: 0px 25px;
  }
}

@media (any-hover: hover) {
  .btn-blue:hover {
    background-color: #234fbd;
    border-color: #234fbd;
  }

  .btn-grey:hover {
    background-color: #0a0a0a;
  }

  .header__logo:hover {
    opacity: 0.7;
  }

  .header__link a:hover {
    color: #3c82f4;
  }

  .header__login:hover {
    color: #306ef7;
  }

  .header__signup:hover {
    background-color: #265bcc;
  }

  .home-start__view-demo:hover {
    background-color: #0a0909;
  }

  .step__sources:hover {
    background-color: #0a0909;
  }

  .footer__link a:hover {
    color: #326df9;
  }

  .creator-team__social-link:hover {
    color: #326cf9;
  }

  .pricing-item__start-btn-white:hover {
    background-color: #2e76eb !important;
    color: #fff;
  }

  .pricing-item__start-btn:hover {
    background-color: #0c0c0c;
  }

  .or-social__has-account:hover {
    color: #326cf9;
  }
}

.webp .agree__tweets { background-image: url(../img/tweets.webp); }

.webp .fact { background-image: url(../img/people-bg.webp); }

.webp .creator-team__avatar-1 { background-image: url(../img/team/creator1.webp); }

.webp .creator-team__avatar-2 { background-image: url(../img/team/creator2.webp); }

.webp .creator-team__avatar-3 { background-image: url(../img/team/creator3.webp); }